<header>
  <a href="/">
    <img src="assets/logo-fag.png" alt="Logo FAG">
  </a>
  <div class="right-info">
    <div>
      <span>🔔</span>
    </div>
    <div>
      <span>📅 26/09/2023</span>
      <span>IP: 192.168.255.5</span>
    </div>
    <div>
      <span>👤 Usuario FAG</span>
      <span>Administrador</span>
    </div>
  </div>
</header>

<div class="container">
  <aside>
    <ul>
      <li><a routerLink="/parametros-generales" routerLinkActive="active-link">Administración de garantías <i class="fas fa-chevron-down"></i></a></li>
      <li><a routerLink="/intermediario-financiero" routerLinkActive="active-link">Recuperación de garantías <i class="fas fa-chevron-down"></i></a></li>
      <li><a routerLink="/procesos-contables" routerLinkActive="active-link">Procesos Contables <i class="fas fa-chevron-down"></i></a></li>
      <li><a routerLink="/reportes" routerLinkActive="active-link">Reportes <i class="fas fa-chevron-down"></i></a></li>
    </ul>

    <hr>

    <ul>
      <li><a routerLink="/configuracion-general" routerLinkActive="active-link">Configuración General <i class="fas fa-cog"></i></a></li>
      <li><a routerLink="/roles-usuarios" routerLinkActive="active-link">Administrar roles y usuarios <i class="fas fa-users"></i></a></li>
    </ul>
  </aside>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
