<div class="tabs-container">
  <button (click)="selectTab('parametrizacion')" [class.active]="selectedTab === 'parametrizacion'">
    Parametrización
  </button>
  <button (click)="selectTab('listasMaestras')" [class.active]="selectedTab === 'listasMaestras'">
    Listas de tablas maestras
  </button>
</div>

<div class="content-container">
  <!-- Contenido de Parametrización -->
  <div *ngIf="selectedTab === 'parametrizacion'" class="config-container">
    <div class="grid-container">
      <div class="card" *ngFor="let item of configItems">
        <i [ngClass]="item.icon"></i>
        <span>
          <a [routerLink]="[item.route]">{{ item.label }}</a>
        </span>
      </div>
    </div>
  </div>

  <!-- Contenido de Listas de tablas maestras -->
  <div *ngIf="selectedTab === 'listasMaestras'" class="config-container">
    <div class="grid-container">
      <div class="card" *ngFor="let item of listasMaestrasItems">
        <i [ngClass]="item.icon"></i>
        <!-- Usa routerLink para navegar a otros componentes -->
        <span>
          <a [routerLink]="[item.route]">{{ item.label }}</a>
        </span>
      </div>
    </div>
  </div>
</div>
