.config-container {
  text-align: center;
}

h2 {
  color: #00ACC1; /* Color del título */
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #00ACC1;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card i {
  font-size: 24px;
  color: #00ACC1;
  margin-bottom: 10px;
}

.card span {
  color: #00ACC1;
  font-weight: 500;
}
