.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Divide el contenedor en 4 columnas */
  gap: 15px;
  padding: 20px;
}

.card {
  display: flex;
  align-items: center; /* Alinea el icono y el texto horizontalmente */
  padding: 10px 15px;
  border: 1px solid #00ACC1;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card i {
  font-size: 60px; /* Ajusta el tamaño del icono para que sea más pequeño */
  color: #00ACC1;
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.card span {
  color: #00ACC1;
  font-weight: 500;
  font-size: 14px; /* Ajusta el tamaño del texto */
}
