.container {
  display: flex;
}

aside {
  width: 250px;
  padding: 10px;
  background-color: #f4f4f4;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.active-link {
  font-weight: bold;
  color: #00ACC1;
}
